body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --couleur1: linear-gradient(90deg,rgba(6,154,119,.7962535355939251) 35%,rgba(6,154,119,.8018557764902836));
    --couleur2:#069a77;
}
/*----------------------partie gauche-----------------------*/
.img-presentation{
    width: 100%;
    height: 100vh;
    background: var(--couleur1),url(images/coach.jpg) no-repeat 50% center;
    background-size:cover;
    background-clip:border-box;
}
.img-presentation .info-presentation h1{
    color: white;
    font-weight: bolder;
    font-size: 4.7rem;
    letter-spacing: 1px;
}
.img-presentation .info-presentation p{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: -15px;
    letter-spacing: 0.5px;
}

/*----------------------partie droite formulaire-----------------------*/
.connexion .img-logo{
    padding-top: 25px;
    padding-bottom: 50px;
}


.connexion .img-logo img{
    width: 100px;
}

.connexion h2{
    color: var(--couleur2);
    margin-bottom: 50px;
    letter-spacing: 1px;
}
#input{
    border: 1px solid var(--couleur2);
    border-radius: 10px;
}

.oubli p{
    margin-top: -15px;
    margin-right: 15px;
}

.oubli p a{
    color: rgb(143, 141, 141);
    font-size: 12px;
    text-decoration: none;
}

.oubli p a:hover{
    border-bottom: 1px solid var(--couleur2);
}

input[type="submit"]{
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: var(--couleur2);
    padding: 10px 0 28px 0;
    
}
input[type="submit"]:hover{
    color: var(--couleur2);
    background-color: transparent;
}


input[type="submit"]~p{
    margin-top: 10px;
    color: rgb(143, 141, 141);
    font-size: 13px;
}

.connexion .socials .socials-1 p{
    width: 30px;
    height: 30px;
    border: 1px solid #4267b2;
    border-radius: 5px;
}

.connexion .socials .socials-2 p{
    width: 30px;
    height: 30px;
    border: 1px solid #db4a39;
    border-radius: 5px;
}
.connexion .socials .socials-1 p a{
    color: #4267b2;
}
.connexion .socials .socials-2 p a{
    color: #db4a39;
}

.connexion .socials .socials-1 p:hover{
    background-color: #4267b2;

}
.connexion .socials .socials-1 p:hover a{
    color: white;
}

.connexion .socials .socials-2 p:hover{
    background-color: #db4a39;
}
.connexion .socials .socials-2 p:hover a{
    color: white;

}

